* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    /* overflow: hidden; */
}

.main {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;
    align-items: center;
    
}

/* Container style */

.container {
    background: hsl(0, 0%, 100%);    
    box-shadow: 0px 10px 16px 1px hsl(223deg 47% 23% / 20%);

    max-width: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 1rem;
    border-radius: 1rem;

    text-align: center;
}

.content {
    margin: 1.5rem 0;
}

.container .qr {
    border-radius: 0.5rem;
}

/* Content style (Image and Text) */
.qr {
    width: 100%;
}

.h1 {
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 1rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    margin-top: 1rem;
}

/* media query for mobile screen */
@media screen and (max-width: 600px) {
    .container {
        margin: 2rem 1rem;
    }
}

